# MCB/ARC/Settings
*.mcb
*.0589CBA3
*.arc
arc/

log.txt
*.ini
workspace.xml

# Workspace
.idea
__pycache__
game/
tools/
target/
dist/
build/

*.wss
*.wck
*.dat
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.trc
*.log
*.dmp
*.exe
*.idc
*.res
*.bak
*.pyc
*.jar

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
