[submodule "src_DLLInjector/include/imgui"]
	path = src_DLLInjector/include/imgui
	url = https://github.com/ocornut/imgui/
[submodule "src_DLLInjector/include/minhook/github"]
	path = src_DLLInjector/include/minhook/github
	url = https://github.com/TsudaKageyu/minhook
[submodule "src_DLLInjector/include/kiero"]
	path = src_DLLInjector/include/kiero
	url = https://github.com/Rebzzel/kiero
[submodule "src_D3D11_DLL"]
	path = src_D3D11_DLL
	url = https://github.com/CasperTheCat/D3D11Wrapper
